@charset "UTF-8";

/*Fuentes */
@font-face {
    font-family: Buffon-Bold;
    src: url('Fuentes/Buffon-Bold.otf');
}

@font-face {
    font-family: Buffon-Regular;
    src: url('Fuentes/Buffon-Regular.otf');
}

@font-face {
    font-family: Buffon-Thin;
    src: url('Fuentes/Buffon-Thin.otf');
}


/*Padding y margin en cero para evitar problemas con el navegador*/
/*box-sizing para indicar como vamos a calcular la altuta y anchura de los elementos*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilo del body */
body {
    font-family: Buffon-Regular;
    padding: 10px;
    color: #000000;
    /*color backgroun con gradiente*/
    background: linear-gradient(45deg, #dbd8d8, #3d4735);

}

/*Estilo de los titulos */
h1 {
    font-family: Buffon-Bold;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    color: #bbff00;
    text-align: center;
    min-width: 200px;
    max-width: 840px;
}

/*Estilo de los subtitulos */
h2 {
    font-family: Buffon-Bold;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    padding-top: 20px;
    color: #bbff00;
    text-align: center;

}

/*Estilo para los pie de imagen */
h5 {
    font-family: Buffon-Thin;
    font-size: 12px;
    font-style: normal;
    color: #000000;
    text-align: center;

}

/* Encabezado */
.header {
    padding: 30px;
    text-align: center;
    background: #000000;
}

/* Titulo del encabezado */
.header h1 {
    font-size: 50px;
}

/* Estilo de la barra superior de navegacion */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Estilo de los links de la barra superior*/
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Cambiar el color en hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Dos columnas flotan una junto a la otra */
/* Columna Izquierda */
.leftcolumn {
    float: left;
    width: 50%;
}

/* Columna derecha*/
.rightcolumn {
    float: right;
    width: 50%;

}

/* Clear floats despues de las columnas */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Estilo del texto*/
.text {
    font-family: Buffon-Thin;
    font-size: 24px;
    font-style: justify;
    text-align: center;
    color: #000000;
    margin: auto;
    min-width: 200px;
    max-width: 560px;
}

/* Estilo de las imagenes */
.image {
    background-color: #aaa;
    width: 100%;

}

/* Separar cada imagen con su informacion para mejor organizacion */
.card {
    background-color: rgb(148, 150, 44);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    min-width: 300px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/*estilos lista*/
li a {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(38, 36, 30);
    font-weight: 600;
    list-style-type: circle;
    /*estilo de lista*/
}

li a:visited {
    text-decoration: none;
    color: rgb(94, 91, 73);
    font-weight: 200;
    /*grosor de la tipografia*/
}

/*estilos enlace*/
.enlace {
    /*enlace en estado normal*/
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(246, 246, 202);
    font-weight: 600;
    /*grosor de la letra*/
    -o-text-stroke: 0.1px rgb(60, 58, 48);
    /*borde de la letra - opera*/
    -ms-text-stroke: 0.1px rgb(60, 58, 48);
    /*borde de la letra - microsoft edge*/
    -moz-text-stroke: 0.1px rgb(60, 58, 48);
    /*borde de la letra - mozilla*/
    -webkit-text-stroke: 0.1px rgb(60, 58, 48);
    /*borde de la letra - google*/
    text-shadow: 1px 1px 1px rgb(60, 58, 48);
    /*sombra en los bordes de la letra*/
}

.enlace:visited {
    /*estilo enlace visitado*/
    text-decoration: none;
    /*sin subrayado*/
    color: rgb(113, 111, 95);
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(199, 191, 161);
    /*sombra en los bordes de la letra*/
}

a:hover {
    /*estilo cuando se pasa el cursor sobre el enlace*/
    text-decoration: none;
}

.tabla {
    display: block;
}

.tabla_responsive {
    display: none;
}

/*ocultar tabla no responsive en vista de menos de 800px*/
.tabla {
    display: none;
}

/*mostrar tabla  responsive en vista de menos de 800px*/
.tabla_responsive {
    display: block;
}

/*estilos letra general del sitio*/
p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: black;
    font-weight: 600;
    /*grosor de la letra*/
    padding: 15px;
}

/*estilos para textos, enlaces y titulos seleccionados con el cursor*/
p::selection {
    background-color: rgb(123, 123, 102);
    color: white;
}

a::selection {
    background-color: rgb(123, 123, 102);
    color: white;
}

h1::selection {
    background-color: rgb(123, 123, 102);
    color: white;
}

h2::selection {
    background-color: rgb(123, 123, 102);
    color: white;
}

h4::selection {
    background-color: rgb(123, 123, 102);
    color: white;
}

/*mapa del sitio*/
/*estilos contenedor del mapa del sitio*/
.contenedor_mapa {
    display: block;
    margin: 20px auto;
    width: 100%;
    background-color: rgba(94, 91, 73, 0.3);
    border-radius: 20px;
    padding: 20px 0px;
}

/*estilos contenedor encabezado del mapa del sitio*/
.encabezado {
    display: flex;
    flex-flow: row nowrap;
    /*ubicación horizontal*/
    justify-content: center;
}

/*estilos texto del encabezado del mapa del sitio*/
.caja_encabezado p {
    background-color: rgba(54, 52, 42, 0.7);
    padding: 10px 20px;
    margin-bottom: 20px;
    font-family: Impact, Haette nschweiler, "Arial Narrow Bold", sans-serif;
    color: rgb(242, 242, 201);
    font-weight: 300;
    font-size: 1.9em;
    text-align: center;
}

/*estilos contenedor de la sección de páginas del mapa del sitio*/
.paginas {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /*espacio entre las cajas que representan las paginas del sitio*/
}

/*estilos de cada una de las cajas que representan las paginas del sitio*/
.caja {
    width: auto;
    padding: 3px;
}

/*estilos del texto de cada una de las cajas que representan las paginas del sitio*/
.caja p {
    text-align: center;
    background-color: rgba(94, 91, 73, 0.7);
    padding: 10px 20px;
    border: 1px solid black;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: rgb(202, 202, 167);
    font-weight: 300;
    font-size: 1.5em;
}

/*estilos de las subsecciones de cada una de las paginas del mapa del sitio*/
.caja li {
    background-color: rgba(63, 61, 49, 0.7);
    padding: 10px 20px;
    border: 1px solid rgb(63, 61, 49);
    /*borde de las subsecciones */
    list-style: none;
    /*remueve los bullet list de las subsecciones*/
}

/*estilos de los enlaces del mapa del sitio*/
.caja li a {
    color: rgb(202, 202, 167);
    font-weight: lighter;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

/*estilos de los enlaces ya visitados del mapa del sitio*/
.caja li a:visited {
    color: rgb(168, 168, 139);
    font-weight: lighter;
    font-size: 1em;
}

/*pseudoelemento que permite colocar un bullet list en forma de triangulo*/
.caja li::before {
    content: "‣";
    color: rgb(202, 202, 167);
    margin: 3px;
}

/*estilos texto del contenedor*/
.contenedor ul li a p {
    background-color: rgba(94, 91, 73, 0.3);
}

/* Responsive layout - cuando la pantalla es menos que 800px de ancho, hacemos una sola columna */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/*Responsive layout - cuando la pantalla es menos que 400px de ancho, hacemos los links formen una columna en vez de una fila*/
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}